{% if site.staticman.repository and site.staticman.branch %}
<section class="comments" id="comment-section">
  <hr>
  {% if site.data.comments[page.slug] %}
  <!-- Existing comments -->
  <div class="comments__existing">
    <h2>Comments</h2>
    {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.replying_to_uid == ''" %}
    {% assign comments = site.data.comments[page.slug] | sort %}
    <!-- List main comments in reverse date order, newest first. List replies in date order, oldest first. -->
    {% for comment in comments %}
    {%- assign email           = comment[1].email %}
    {%- assign name            = comment[1].name %}
    {%- assign url             = comment[1].url %}
    {%- assign date            = comment[1].date %}
    {%- assign message         = comment[1].message %}
    {%- assign uid             = comment[1]._id %}
    {% include staticman-comment.html is_reply=false uid=uid replying_to=0 email=email name=name url=url date=date message=message uid=uid %}
    {% endfor %}
  </div>
  {% endif %}

  <!-- New comment form -->
  <div id="respond" class="comment__new">
    {% include comment_form.html %}
  </div>
  <!-- End new comment form -->
  <!-- Load reCaptcha if site key is set -->
  {% if site.staticman.reCaptcha.siteKey %}
    <script async src="https://www.google.com/recaptcha/api.js"></script>
  {% endif %}

  <!-- Load script to handle comment form submission -->
  <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
  <script>
    if (typeof jQuery == 'undefined') {
      document.write('<script src="https://code.jquery.com/jquery-3.5.1.min.js"></scr' + 'ipt>');
    }
  </script>
  <script src="{{ '/assets/js/staticman.js' | relative_url }}"></script>
</section>
{% endif %}
