<style>
  .content p {
    margin-top: 3px;
  }
</style>

<article id="comment-{{include.comment}}-reply-{{ include.index }}" class="js-comment comment" itemprop="comment" itemscope itemtype="https://schema.org/Comment"
  style="margin-left: 2em">
    <div class="comment__avatar-wrapper">
      <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=80" alt="{{ include.name }}">
    </div>
    <div class="comment__content-wrapper">
      <h4 class="comment__author" itemprop="author" itemscope itemtype="https://schema.org/Person">
        {% unless include.url == '' %}
          <span itemprop="name"><a rel="external nofollow" itemprop="url" href="{{ include.url }}">{{ include.name }}</a></span>
        {% else %}
          <span itemprop="name">{{ include.name }}</span>
        {% endunless %}
        <span style="position:absolute; right: 5px; font-weight: 300; font-size: 1.2em;" class="figure-caption"># {{include.index}}</span>
      </h4>
      <p class="comment__date">
        {% if include.date %}
          {% if include.index %}<a href="#comment-{{include.comment}}-reply-{{ include.index }}" itemprop="url">{% endif %}
          <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.date | date: "%B %d, %Y at %I:%M %p" }}</time>
          {% if include.index %}</a>{% endif %}
        {% endif %}
      </p>
      <div itemprop="text" class="content">{{ include.message | markdownify }}</div>
    </div>
    <hr>
</article>